body {
  background-image: url(StarWars_Background.jpg);
  background-size: cover;
}

#main {
  margin: 0 auto;
  height: 800px;
  width: 900px;
  text-align: center;
}

#myCanvas {
  background-color: rgba(0,0,0,0.5);
  cursor: url(crosshairs.png) 65 65, auto;
}

#titleDiv {
  height: 100px;
  width: 700px;
  font-size: 80px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: rgba(0,0,0,0.5);
  color: yellow;
}

#titleDivTitle {
  height: 70px;
  width: 600px;
}

#instructions {
  height: 50px;
  width: 700px;
  font-size: 20px;
  color: yellow;
  background-color: rgba(0,0,0,0.5);
}


#footerDiv {
  height: 100px;
  width: 700px;
  text-align: center;
  display: inline-block;
  margin-top: 20px;
  background-color: rgba(0,0,0,0.5);
  font-size: 80px;
  color: yellow;
  margin-right: 80px;
  position: absolute;
  bottom: 0;
  left: 25%;

}

#score {
  height: 50px;
  width: 100px;
  display: inline-block;
  color: yellow;
  font-size: 20px;
}

#start {
  height: 50px;
  width: 100px;
  display: inline-block;
  font-size: 25px;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
  color: yellow;
}

#level {
  height: 50px;
  width: 100px;
  display: inline-block;
  color: yellow;
  font-size: 20px;
}

#highScoreDiv {
  height: 400px;
  width: 200px;
  float: right;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
  margin-top: 175px;
  margin-right: 90px;
}
