body {
  background-image: url(StarWars_Background.jpg);
  background-size: cover;
  text-align: center;
  display: inline-block;
}

#container {
  height: 900px;
  width: 800px;
  border: 2px solid blue;
}

#container1 {
  height: 1000px;
  width: 1300px;
  border: 2px solid blue;
  display: inline-block;
}
#myCanvas {
  background-color: rgba(0,0,0,0.5);
  cursor: url(crosshairs.png) 65 65, auto;
  border: 2px solid blue;
}

#titleDiv {
  height: 100px;
  width: 700px;
  font-size: 80px;
  text-align: center;
  display: inline-block;
  margin-bottom: 10px;
  margin-top: 30px;
  background-color: rgba(0,0,0,0.5);
  color: yellow;
}

#titleDivTitle {
  height: 70px;
  width: 600px;
}

#instructions {
  height: 50px;
  width: 700px;
  font-size: 20px;
  color: yellow;
  background-color: rgba(0,0,0,0.5);
  border: 2px solid blue;
  display: inline-block;
}


#footerDiv {
  height: 100px;
  width: 700px;
  text-align: center;
  display: inline-block;
  background-color: rgba(0,0,0,0.5);
  font-size: 30px;
  color: yellow;
  border: 2px solid blue;

}

#score {
  height: 50px;
  width: 100px;
  display: inline-block;
  color: yellow;
  font-size: 20px;
  border: 2px solid blue;
  margin-right: 50px;
}


#level {
  height: 50px;
  width: 100px;
  display: inline-block;
  color: yellow;
  font-size: 20px;
  border: 2px solid blue;
  margin-left: 50px;
}

#highScoreDiv {
  height: 400px;
  width: 400px;
  background-color: rgba(0,0,0,0.5);
  color: yellow;
  font-size: 20px;
  border: 2px solid blue;
  display: inline-block;
  float: right;
  margin-top: 150px;
  margin-right: 50px;
  text-align: left;
}

#startDiv {
  height: 60px;
  width: 105px;
  border: 2px solid blue;
  display: inline-block;
  margin-top: 10px;
}
